/* Montserrat 300 */
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Light.woff2) format("woff2"),
        url(fonts/Montserrat-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

/* Montserrat 400 */
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Regular.woff2) format("woff2"),
        url(fonts/Montserrat-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* Raleway 500 */
@font-face {
    font-family: "Raleway";
    src: url(fonts/Raleway-Medium.woff2) format("woff2"),
        url(fonts/Raleway-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

/* Raleway 400 */
@font-face {
    font-family: "Raleway";
    src: url(fonts/Raleway-Regular.woff2) format("woff2"),
        url(fonts/Raleway-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* Raleway 600 */
@font-face {
    font-family: "Raleway";
    src: url(fonts/Raleway-SemiBold.woff2) format("woff2"),
        url(fonts/Raleway-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

/* Roboto 400 */
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.woff2) format("woff2"),
        url(fonts/Roboto-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/*header*/
.header {
    background-image: url(img/bg-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 39px 161px 49px 161px;
}

.header-contain-with-slider {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1600px;
}

.header-contain {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

.header-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-family: "Raleway";
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
    font-weight: 400;
}

.nav-links {
    align-items: center;
    justify-items: center;
    display: flex;
}

.nav-links-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 54px;
    padding-left: 0;
}

.nav-links-style {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    list-style-type: none;
    padding-right: 24px;
    transition-delay: 0.1s;
}

.nav-links-style:hover {
    color: #C7B299;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon-cart {
    margin-right: 30px;
}

.icon-cart,
.icon-search {
    fill: #C7B299;
}

.icon-cart-svg,
.icon-search-svg {
    fill: white;
    transition-delay: 0.1s;
}

.icon-cart-svg:hover,
.icon-search-svg:hover {
    fill: #C7B299;
}

.slogan-block {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.slogan-style-first {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.slogan-style-second {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.slogan-style-third {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    max-width: 563px;
    text-align: center;
    margin-bottom: 39px;
}

.slogan-style-button {
    background: #988574;
    border-radius: 3px;
    padding: 19px 41px;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 300px;
    display: inline-block;
    transition-delay: 0.3s;
}

.slogan-style-button:hover {
    animation: button-animation 1.5s both;
}

@keyframes button-animation {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

.header-slider-ellipse {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
.header-slider-ellipse-style {
    padding-right: 7px;
    transition-delay: 0.1s;
    fill: none;
}

.header-slider-circle-style {
    fill: white;
    fill-opacity: 0.5;
    box-sizing: border-box;
}

.header-slider-ellipse-style:hover {
    transform: scale(1.25);
    stroke: #D3C1AD;
    stroke-width: 1px;
}

.header-slider-ellipse-style:hover .header-slider-circle-style {
    fill: none;
}
*/
.header-slider-ellipse-button,
.header-slider-ellipse-button:active {
    display: block;
    margin: 0 10px 0 0;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: 0.1s;
}

.header-slider-ellipse-button:hover {
    transform: scale(1.4);
    border: 1px solid #d3c1ad;
    background-color: transparent;
    opacity: 1;
    box-sizing: border-box;
}


.slider-left {
    fill: none;
}

.slider-right {
    fill: none;
}

.slider-left-style,
.slider-right-style {
    fill: white;
    opacity: 0.502;
}

.slider-right:hover .slider-right-style,
.slider-left:hover .slider-left-style {
    fill: #D3C1AC;
}

.slider-right:focus .slider-right-style,
.slider-left:focus .slider-left-style {
    fill: #D3C1AC;
}

ul {
    list-style: none;
}

/*services*/
.services {
    padding-top: 84px;
    padding-bottom: 88px;
}

.services-contain {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.services-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.services-card:hover .services-card-figure-style,
.services-card:hover .services-card-line-style,
.services-card:hover .services-card-heading {
    fill: #C7B299;
    color: #C7B299;

}

.services-card:hover .services-card-figure {
    transform: rotate(45deg);
}


.services-card-figure {
    fill: none;
    margin-bottom: 30px;
}

.pencil {
    margin-bottom: 20px;
}

.services-card-figure-style {
    fill: #555555;
}

.services-card-line {
    fill: none;
}

.services-card-line-style {
    fill: #F1EEE9;
}

.services-card-heading {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #555555;
    margin-bottom: 20px;
}

.services-card-text {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 30px;
}

/*waxom-is-realization*/
.waxom-is-realization {
    padding-top: 80px;
    padding-bottom: 0;
    background-color: #FBFAF8;
}

.waxom-is-realization-contain {
    max-width: 1234px;
    margin: 0 auto;
}

.waxom-is-realization-top {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
}

.waxom-is-realization-heading {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
    margin-bottom: 20px;
}

.waxom-is-realization-text {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
    margin-bottom: 42px;
    max-width: 770px;
}

/*
.waxom-is-realization-bottom {
    background-image: url(img/browsers.png);
    height: 483px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
*/
.waxom-is-realization-bottom {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 0;
    justify-content: center;
    width: 100%;
    transition-delay: 0.3s;
}

.waxom-is-realization-bottom img:hover {
    z-index: 4;
}

.waxom-is-realization-bottom-left {
    position: absolute;
    z-index: 1;
    left: 0;
}

.waxom-is-realization-bottom-center {
    z-index: 3;
    position: relative;
}

.waxom-is-realization-bottom-right {
    position: absolute;
    z-index: 1;
    right: 0;
}



/*purchase-now*/
.purchase-now {
    padding-top: 44px;
    padding-bottom: 41px;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    ;
}

.purchase-now-contain {
    max-width: 1234px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.purchase-now-heading {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.purchase-now-heading-name {
    color: #C7B299;
}

.purchase-now-text {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #615855;
}

.purchase-now-button {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 19px 31px;
    background: #988574;
    border-radius: 3px;
    border: none;
    display: inline-block;
    transition-delay: 0.3s;
}

.purchase-now-button:hover {
    animation: button-animation 1.5s both;
}

/*our-latest-project*/
.our-latest-project {
    padding-top: 61px;
    padding-bottom: 33px;
}

.our-latest-project-contain {
    max-width: 1170px;
    margin: 0 auto;
}

.our-latest-project-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-latest-project-heading-name {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
    text-align: center;
    margin-bottom: 9px;
}

.our-latest-project-heading-text {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
    max-width: 802px;
    align-items: center;
    margin-bottom: 27px;
}

.our-latest-project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.our-latest-project-style {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #8C8C8C;
    padding-right: 10px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 7px 17px;
    margin-right: 10px;
    margin-bottom: 69px;
    transition-delay: 0.1s;
}

.our-latest-project-style:hover {
    color: #FFFFFF;
    background: #998575;
}

.our-latest-project-all-projects {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
    justify-content: space-between;
}

.our-latest-project-card {
    margin-bottom: 69px;
    transition: 0.3s;
}

.our-latest-project-card:hover .our-latest-project-img-style {
    filter: grayscale(100%)
}

.our-latest-project-card:hover .our-latest-project-content {
    background: #352F2D;
}

.our-latest-project-card:hover .our-latest-project-card-heading {
    color: #FFFFFF;
}

.our-latest-project-card:hover .our-latest-project-card-text {
    color: #C7B299;
}

.our-latest-project-card:hover .our-latest-project-card-trigon {
    border-bottom: 10px solid #352F2D;
}


.our-latest-project-content {
    background: #FBFAF8;
    padding-top: 26px;
    padding-left: 23px;
    padding-bottom: 26px;
}

.our-latest-project-card-heading {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #C7B299;
    margin-bottom: 8px;
    margin-top: 20px;
}

.our-latest-project-card-text {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
}

.our-latest-project-card-trigon {
    border: 15px solid transparent;
    border-bottom: 10px solid#FBF9F7;
    width: 0px;
    position: absolute;
    margin-left: 14px;
}


.our-latest-project-img {
    position: relative;
}

.our-latest-project-img-style {
    margin-bottom: -28px;
}

.our-latest-project-bottom {
    display: flex;
    justify-content: center;
}

.our-latest-project-button {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 19px 47px;
    background: #988574;
    border-radius: 3px;
    border: none;
    display: inline-block;
    transition-delay: 0.3s;
}

.our-latest-project-button:hover {
    animation: button-animation 1.5s both;
}


/*video-presentation*/
.video-presentation {
    background-image: url(img/bg-video-presentation.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.video-presentation-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 248px;
    padding-bottom: 195px;
    margin: 0 auto;
    max-width: 100%;

}

.video-presentation-icon {
    margin-bottom: 31px;
}

.video-presentation-heading {
    margin-bottom: 18px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.video-presentation-text {
    margin-bottom: 18px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    max-width: 570px;
    text-align: center;
}

.video-presentation-time {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C7B299;
}

/*mobile-devices*/
.mobile-devices {
    background-color: #FBFAF8;
    ;
}

.mobile-devices-contain {
    max-width: 1160px;
    display: flex;
    padding-top: 78px;
    margin: 0 auto;
}

.mobile-devices-img {
    margin-right: 64px;
}

.mobile-devices-img-style {
    display: block;
}

.mobile-devices-heading {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
    margin-bottom: 20px;
    width: 100%;
}

.mobile-devices-text {
    width: 100%;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #8C8C8C;
    margin-bottom: 49px;
}

.mobile-devices-list {
    width: 100%;
    margin-left: 65px;
}

.mobile-devices-list-style {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #8C8C8C;
    align-items: center;
    display: flex;
    padding-bottom: 10px;
}

.mobile-devices-list-style::before {
    content: url(img/circle-arrow.png);
    margin-right: 8px;
}

.mobile-devices-content {
    margin-top: 107px;
}

/*counters*/
.counters {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    padding-top: 35px;
    padding-bottom: 35px;
}

.counters-contain {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.counters-svg {
    fill: none;
}

.counters-svg-style {
    fill: #C7B299;
}

.counters-line {
    fill: none;
}

.counters-line-style {
    fill: white;
}

.counters-count {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

.counters-text {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #C7B299;
}

/*recent-posts*/
.recent-posts {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 38px;
}

.recent-posts-contain {
    max-width: 1278px;
    margin: 0 auto;
}

.recent-posts-heading {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
    margin-bottom: 20px;
}

.recent-posts-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.recent-posts-text {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #8C8C8C;
    margin-bottom: 30px;
    max-width: 770px;
}

.recent-posts-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recent-posts-card-img {
    position: relative;
}

.recent-posts-card-img-svg {
    position: absolute;
    top: 17px;
    left: 23px;
}

.recent-posts-card {
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    margin-bottom: 54px;
    transition: 0.3s;
    width: 30%;
}

.recent-posts-card-img-style {
    width: 100%;
}

.recent-posts-card:hover .recent-posts-card-img-style {
    filter: brightness(40%);
}

.recent-posts-card:hover .recent-posts-card-img-svg-style-top {
    fill: #C7B199;
}

.recent-posts-card:hover .recent-posts-card-img-svg-style-bottom {
    fill: #A48D71;
}

.recent-posts-card:hover {
    background-color: #352F2D;
}

.recent-posts-card:hover .recent-posts-card-heading {
    color: #C7B299;
}

.recent-posts-card-main {
    padding: 31px 36px 23px 23px;
}

.recent-posts-card:hover .recent-posts-card-text {
    color: #FFFFFF;
}

.recent-posts-card-heading {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
    margin-bottom: 22px;
}

.recent-posts-card-text {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 17px;
}

.recent-posts-card-link-text {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #C7B299;
}

.recent-posts-bottom-svg-style {
    fill: #D1D1D1;
}

.recent-posts-bottom-svg:hover .recent-posts-bottom-svg-style {
    fill: #C7B299;
}

.recent-posts-bottom {
    display: flex;
    justify-content: center;

}

.recent-posts-bottom-svg {
    padding-right: 20px;
    transition: 0.3s;
}

/*partners*/
.partners {
    background-image: url(img/bg-partners.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    justify-content: center;
}

.partners-contain {
    max-width: 1065px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners-contain-img:hover {
    animation: partners-contain-img-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes partners-contain-img-center {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.partners-contain-link {
    padding-left: 20px;
    padding-right: 20px;
}


/*footer*/
.footer-top {
    background-color: #191919;
    padding-top: 74px;
    padding-bottom: 128px;
}

.footer-bottom {
    background-color: #101010;
    padding-top: 58px;
    padding-bottom: 41px;
}

.footer-contain-top {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.footer-contain-bottom {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}

.footer-top {
    background-color: #191919;
    display: flex;
    justify-content: center;
}

.footer-top-about-us {
    width: 25%;
    margin-right: 72px;
    transition-delay: 0.3s;
}

.footer-top-about-us:hover .footer-top-about-us-main-text {
    color: #C7B299;
}

.footer-top-about-us:hover .footer-top-about-us-link-text,
.footer-top-about-us:hover .footer-top-about-us-link-icon-style {
    color: #0069f3;
    fill: #0069f3;
}

.footer-top-about-us-logo {
    display: flex;
    margin-bottom: 18px;
}

.footer-top-about-us-logo-heading {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    margin-left: 11px;
}

.footer-top-recent-posts {
    margin-right: 49px;
    width: 25%;
}

.footer-top-twitter {
    margin-right: 48px;
    width: 25%;
}

.footer-top-widget {
    width: 25%;
}

.footer-top-about-us-main-text {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin-bottom: 18px;
}

.footer-top-about-us-link-text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    margin-right: 7px;
}

.footer-top-recent-posts-heading,
.footer-top-twitter-heading,
.footer-top-widget-heading {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 23px;
    margin-top: 33px;
}

.footer-top-recent-posts-date {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    margin-bottom: 6px;
    max-width: 206px;
}

.footer-top-recent-posts-text {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    max-width: 206px;
    padding-bottom: 16px;
}

.footer-top-recent-posts-main {
    transition-delay: 0.3s;
}

.footer-top-recent-posts-main-line {
    background-color: #242424;
    height: 1px;
    border: none;
    margin-bottom: 12px;
}

.footer-top-recent-posts-main:hover .footer-top-recent-posts-date {
    color: #FFFFFF;
}

.footer-top-recent-posts-main:hover .footer-top-recent-posts-text {
    color: #C7B299;
}

.footer-top-twitter-main {
    transition-delay: 0.3s;
}

.footer-top-twitter-main:hover .footer-top-twitter-text {
    color: #C7B299;
}

.footer-top-twitter-main:hover .footer-top-twitter-time {
    color: #FFFFFF;
}

.footer-top-twitter-main:hover .footer-top-twitter-text-style {
    color: #0069f3;
}

.footer-top-twitter-main:hover .footer-top-twitter-text-style-third {
    color: #c2a1a1;
}

.footer-top-twitter-text {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin-bottom: 6px;
}

.footer-top-twitter-text-style {
    color: #00BFF3;
}

.footer-top-twitter-time {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    padding-bottom: 16px;
}

.footer-top-twitter-main-line {
    background-color: #242424;
    height: 1px;
    border: none;
    margin-bottom: 12px;
}

.footer-top-twitter-text-style-third {
    color: #757575;
}

.footer-top-widget-img {
    display: flex;
    flex-wrap: wrap;
}

.footer-top-widget-img-style {
    margin: 0 5px 5px 0;
}

.footer-top-widget-img-style:hover {
    transform: scale(1.05);
}


.footer-bottom-card-copy-text,
.footer-bottom-card-link-style {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #555555;
}

.footer-bottom-card-link-style:hover {
    color: #BAA78F;
}

.footer-bottom-card-copy,
.footer-bottom-card-link {
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.footer-bottom-card-line {
    background-color: #1A1A1A;
    border: none;
    width: 1px;
    margin-right: 11px;
}

.burger {
    display: none;
}

/*adaptive*/

@media (max-width: 1024px) {
    .header {
        padding: 39px 30px 49px 30px;
    }

    .logo {
        margin-bottom: 20px;
    }

    .nav-links-list {
        margin-right: 150px;
    }

    .icon-cart,
    .icon-search {
        margin-top: -100px;
    }

    .header-heading {
        margin-bottom: 150px;
    }

    .slogan-style-button {
        margin-bottom: 200px;
    }

    .services {
        padding-left: 10px;
        padding-right: 10px;
    }

    .services-card {
        margin-right: 15px;
    }

    .waxom-is-realization {
        padding-top: 30px;
    }

    .purchase-now {
        padding-right: 30px;
        padding-left: 10px;
    }

    .our-latest-project {
        padding-top: 30px;
    }

    .our-latest-project-all-projects {
        margin-left: 100px;
        margin-right: 100px;
    }

    .video-presentation-contain {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .mobile-devices-contain {
        padding-top: 30px;
    }

    .mobile-devices-content {
        margin-top: 10px;
        margin-right: 10px;
    }

    .mobile-devices-list {
        margin: 0;
    }

    .recent-posts {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .recent-posts-main {
        padding: 10px
    }

    .recent-posts-card {
        margin: 10px auto;
        width: 48%;
    }

    .partners {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .partners-contain-link {
        transform: scale(0.9);
    }

    .footer-top {
        padding: 30px 10px 30px 10px;
    }

    .footer-top-about-us {
        transform: scale(0.9);
        margin-right: 30px;
    }

    .footer-top-widget {
        width: 100%;
    }

    .footer-top-widget-heading {
        text-align: center;
    }

    .footer-top-widget-img {
        justify-content: center;
    }

    .footer-contain-bottom {
        justify-content: center;
    }

    .footer-contain-top {
        flex-wrap: wrap;
    }
}

@media (max-width: 375px) {

    .header,
    .services,
    .waxom-is-realization,
    .purchase-now,
    .our-latest-project,
    .video-presentation,
    .mobile-devices,
    .counters,
    .recent-posts,
    .partners,
    .footer {
        padding: 10px;
    }

    .slider-left,
    .slider-right {
        display: none;
    }

    .services-contain {
        flex-wrap: wrap;
    }

    .waxom-is-realization-text {
        width: none;
    }
}